
/*
    Just for write test demo
*/
#language-ul{
    width: 50rem;
    margin: 2rem auto;
}
#language-ul li{
    margin-right: 2rem;
}
#helloArea{
    width: 50rem;
    margin: 4rem auto;
    color: cornflowerblue;
    font-size: 3rem;
}

.test{
    display: flex;
}

#bg-div{
    background-image: url("../image/big.png");
    width: 283px;
    height: 250px;
}